<div class="bodd container">
    <!-- About Section -->
    <div id="about-section" class="text-center mb-5">
        <h1 id="about" class="display-4">About Our Inventory Management Application</h1>
        <!-- <img src="../../assets/" alt="Inventory Management Logo" class="img-fluid mb-3"> -->
        <p class="lead">Welcome to our <span class="highlight">Inventory Management Application</span>! This platform is designed to streamline the process of inventory management and make it as efficient and user-friendly as possible.</p>
    </div>
 
    <!-- Features Section -->
    <div id="features-section">
        <h2 id="what-we-do" class="text-center mb-4">What We Do</h2>
        <div class="row justify-content-center">
            <div class="col-md-4 mb-3">
                <img src="https://i.pinimg.com/736x/cf/a4/94/cfa494534924d60266a80dec803dde2b.jpg" alt="Feature 1" class="feature-icon1 img-fluid rounded">
                <p class="text-center mt-3">Comprehensive Inventory List</p>
            </div>
            <div class="col-md-4 mb-3">
                <img src="../../assets/img/shopping-cart-icon-with-colorful-design-isolated-on-white-background-simple-shopping-cart-illustration-free-vector.jpg" alt="Feature 2" class="feature-icon2 img-fluid rounded">
                <p class="text-center mt-3">Request and Manage Equipment</p>
            </div>
            <div class="col-md-4 mb-3">
                <img src="../../assets/img/ui-image-5fbce407-9bb3-486d-a69c-199216e24bf9-tablet (1).webp" alt="Feature 3" class="feature-icon3 img-fluid rounded">
                <p class="text-center mt-3">Intuitive User Interface</p>
            </div>
        </div>
    </div>
 
    <!-- Mission Section -->
    <div id="mission-section" class="bg-light mt-5">
        <h2 id="our-mission" class="text-center mb-4">Our Mission</h2>
        <p class="text-center">Our mission is to simplify inventory management and make it accessible to all employees. We believe that by doing so, we can contribute to a more productive and efficient work environment.</p>
    </div>
 
    <div class="text-center mt-4">
        <button class="explore btn btn-primary">Explore Features</button>
        <p class="mt-3">Thank you for choosing our Inventory Management Application. We're excited to support your inventory needs!</p>
    </div>
</div>
