
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }

  .settings-container {
    padding: 10px;
    text-align: center;
  }
  .btn-block {
    width: 100%;
  }