<!-- navbar.component.html -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://upload.wikimedia.org/wikipedia/en/2/22/Alfa_Laval.svg" alt="Alfa Laval" width="150" height="40">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Main Navigation -->
        <li class="nav-item">
          <a class="nav-link active" routerLink="welcome" aria-current="page"><i class="fas fa-home"></i> Home</a>
        </li>

        <!-- Admin Actions -->
        <li  class="nav-item dropdown" *ngIf="role=='admin'">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-pencil"></i> Admin Actions
          </a>
          <ul style="z-index: 10000;" class="dropdown-menu">
            <li>
              <a class="dropdown-item" routerLink="add-equipment">
                <i class="fas fa-plus-circle"></i> Add New Equipment
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="users">
                <i class="fas fa-users"></i> View Users
              </a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/requesthistory', prefix, 'issued-gatepass']" [queryParams]="{ from: 'approve-submit-equipment' }">
                <i class="fas fa-clipboard-check"></i> Submission Requests
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="manager-role">
                <i class="fas fa-user-cog"></i> Manage Roles
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="self-life">
                <i class="fas fa-hourglass-half"></i> Shelf Life
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
          
            <li>
              <div class="px-3 py-2">
                <app-setting></app-setting>
              </div>
            </li>
          </ul>
        </li>

        <!-- User Actions -->
        <li class="nav-item" *ngIf="loginDisplay">
          <a class="nav-link" routerLink="profile"><i class="fas fa-user"></i> My Equipments</a>
        </li>
        <!-- <li class="nav-item" *ngIf="role=='employee'">
          <a class="nav-link" [routerLink]="['/requesthistory', prefix,'issued-gatepass']" [queryParams]="{ from: 'submit-equipment' }"><i class="fas fa-user"></i> Submit Equipment</a>
        </li> -->
        <li class="nav-item" *ngIf="loginDisplay">
          <a class="nav-link" routerLink="profile" routerLink="viewequipments"><i class="fas fa-cogs"></i>Request Equipment</a>
        </li>

        <li class="nav-item" *ngIf="loginDisplay&&(role=='admin'||role=='manager')" >
          <a class="nav-link"  routerLink="requeststatus">
            <i class="fas fa-thumbs-up"></i> Approve/Reject
          </a>
        </li>
        <!-- Requests -->
        <!-- <li class="nav-item dropdown" *ngIf="loginDisplay">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-cogs"></i> Request Equipment
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="requeststatus">View Requests</a></li>
            <li><a class="dropdown-item" routerLink="viewequipments">Request Equipment</a></li>
          </ul>
        </li> -->
      </ul>

      <form class="d-flex align-items-center position-relative">
        <!-- Login Authentication Component -->
        <app-loginauthentication *ngIf="!loginDisplay" class="me-2"></app-loginauthentication>
      
        <!-- Cart Button -->
        <a *ngIf="cartItemsCount && loginDisplay" class="btn btn-outline-primary position-relative cart-btn" (click)="toggleSidebar()">
          <i class="fas fa-shopping-cart"></i>
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger cart-badge">
            {{ cartItemsCount }}
            <span class="visually-hidden">items in cart</span>
          </span>
        </a>
      </form>

      <!-- Profile Photo and Dropdown -->
      <div style="z-index: 1030;" class="nav-item dropdown ms-3" *ngIf="loginDisplay&&vab">
        <a class="nav-link dropdown-toggle d-flex align-items-center" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img [src]="profilePhotoUrl || 'https://img.icons8.com/?size=256&id=JDRZ6b6kMnHx&format=png'" alt="Profile Picture" class="rounded-circle" width="40" height="40">
        </a>
        <div class="dropdown-menu dropdown-menu-end p-3" aria-labelledby="navbarDropdown">
          <div class="d-flex align-items-center mb-3">
            <img [src]="profilePhotoUrl || 'https://img.icons8.com/?size=256&id=JDRZ6b6kMnHx&format=png'" alt="Profile Picture" class="rounded-circle me-3" width="65" height="65">
            <div>
              <h4 class="mb-0">{{ vab.givenName }} {{ vab.surname }}</h4>
              <hr>
              <p class="text-muted mb-1"><i class="fas fa-briefcase me-2"></i>{{ vab.jobTitle }}</p>
              <p class="text-muted mb-1"><i class="fas fa-envelope me-2"></i>{{ vab.userPrincipalName }}</p>
              <p class="text-muted mb-1"><i class="fas fa-envelope me-2"></i>{{ vab.id }}</p>
            </div>
          </div>
          <div class="dropdown-divider"></div>
          <app-loginauthentication *ngIf="loginDisplay"></app-loginauthentication>
        </div>
      </div>
    </div>
  </div>
</nav>
<!-- Profile Card Template -->
<!-- <ng-template #profileContent>
  <div class="profile-card mb-4">
    <div class="text-center"> -->
      <!-- <img [src]="getProfilePhotoUrl(profilePhotoBlob)" class="rounded-circle img-fluid mb-3" alt="Profile Photo" width="150" *ngIf="profilePhotoBlob; else defaultProfileImage"> -->
      <!-- <h3>{{ vab.givenName }}</h3>
      <p class="mb-3">{{ vab.userPrincipalName }}</p>
      <p class="mb-3">{{ vab.jobTitle }}</p>
      <button class="btn btn-danger" *ngIf="loginDisplay" (click)="logout()" style="margin-right: 8px;">Logout</button>
    </div>
  </div>
</ng-template> -->

<!-- <ng-template #defaultProfileImage>
  <div class="default-icon-wrapper" [ngbPopover]="profileContent" [popoverTitle]="vab.givenName" triggers="click">
    <i class="bi bi-person-circle"></i>
  </div>
</ng-template> -->

<ng-template #sidebarContent>
  <app-cart></app-cart>
</ng-template>

<router-outlet></router-outlet>




