/* Custom CSS styles for rounded buttons and profile photo */
.navbar-nav .nav-item .nav-link {
  margin-right: 10px;
}
.dropdown-menu {
  width: 400px;
}
.dropdown-menu .d-flex img {
  border: 2px solid #ddd;
}
.dropdown-menu h4 {
  font-weight: bold;
}
.dropdown-menu .btn {
  margin-top: 10px;
}
.btn-outline-primary {
  display: flex;
  align-items: center;
}
.btn-outline-primary .fas.fa-shopping-cart {
  margin-right: 5px;
}
.nav-item.dropdown.ms-3 {
  margin-left: 15px;
}
.form.d-flex.align-items-center .btn {
  margin-right: 10px;
}

.d-flex.align-items-center {
  gap: 10px; /* Adds spacing between elements */
}

.cart-btn {
  position: relative;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #133170;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cart-btn:hover {


}

.cart-btn i {
  font-size: 1.0rem;
}

.cart-badge {
  top: -10px;
  start: 80%;
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  transform: translate(-50%, -50%);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
