<div class="bodd">
  <div *ngIf="loading" class="loader-container">
    <app-loader></app-loader>
  </div>
  <div *ngIf="!loading">
    <app-request-history *ngIf="buttonId === 'request-history'"
                       [data]="data"
                       [currentPage]="currentPage"
                       [pageSize]="pageSize"
                       [pages]="pages"></app-request-history>

  <app-gatepass-history *ngIf="buttonId === 'issued-gatepass'"
                       [data]="data"
                       [currentPage]="currentPage"
                       [pageSize]="pageSize"
                       [pages]="pages"
                       [formdata]="from"
                       (refreshData)="updateData()"
                       ></app-gatepass-history>
  </div>
  
</div>