<!-- Banner Section -->
<section class="banner">
    <div class="banner-content">
      <div class="banner-message">
        <h1>Welcome to the Inventory Portal</h1>
        <p>Locate the Alfa Laval product best suited to your application.</p>
      </div>
      <img src="https://edit-prd.alfalaval.com/globalassets/images/local/usa/us-webshop_hero_image_1920x480_dark.jpg" alt="Banner Image">
    </div>
  </section>
  
  <!-- Main Content Section -->
  <section class="main-content">
    <!-- Icons Section -->
    <div class="icon-section">
      <div class="icon">
        <i class="fas fa-search"></i>
        <h2>Identify the Equipment</h2>
      </div>
      <div class="icon">
        <i class="fas fa-hand-pointer"></i>
        <h2>Request Equipment</h2>
      </div>
      <div class="icon">
        <i class="fas fa-clock"></i>
        <h2>Wait for Approval</h2>
      </div>
      <div class="icon">
        <i class="fas fa-envelope"></i>
        <h2>Get Email Notification</h2>
      </div>
    </div>
  
    <!-- Explanation Section -->
    <!-- Explanation Section -->
<div class="explanation">
    <div class="explanation-content">
      <div class="explanation-text">
        <h2>Find By Brand</h2>
        <p>Discover products by their respective brands. Search and filter through our extensive catalog to find the perfect match for your needs.</p>
      </div>
      <div class="explanation-image">
        <img src="https://asset.brandfetch.io/idqX_cJcm5/idlyZFl44u.jpeg?updated=1713369899876" alt="Brand Image">
      </div>
    </div>
    <div class="explanation-content reverse">
      <div class="explanation-text">
        <h2>By Type</h2>
        <p>Browse products based on their type or category. Easily navigate through different product types to explore various options available.</p>
      </div>
      <div class="explanation-image">
        <img src="https://www.br-automation.com/fileadmin/X20MM4456_X67SM2436_Schrittmotor_WEISS-6d5df77e.jpg" alt="Type Image">
      </div>
    </div>
    <div class="explanation-content">
      <div class="explanation-text">
        <h2>By Specification ID</h2>
        <p>Search for products using their unique specification ID. Input the specific ID to quickly locate and access detailed information about the product.</p>
      </div>
      <div class="explanation-image">
        <img src="../../assets/img/specid5.png" alt="Specification ID Image">
      </div>
    </div>
  </div>
  
  </section>