/* styles.css */
.container {
  max-width: 1200px;
  margin: auto;
}

.profile-container {
  background-color: #f8f9fa;
}

.profile-header {
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 15px;
}

.profile-avatar img {
  border: 2px solid #dee2e6;
}

.profile-details h2 {
  font-size: 1.75rem;
  color: #343a40;
}

.profile-details p {
  margin: 0;
}

.tabs-container {
  margin-top: 20px;
}

.cust{
  margin-right: 10px;
}

.fas{
  margin-right: 5px;
}