<div class="bodd">

    <div *ngIf="customDetails" class="container mt-5">
        <h2 class="text-center mb-4"><i class="fa fa-info-circle"></i> Gatepass Details</h2>
        
        <div class="card">
          <div class="card-body">
            <h4 class="card-title"><i class="fa fa-user"></i> User Information</h4>
            <p class="card-text"><strong>User Name:</strong> {{ customDetails.userFirstName }} {{ customDetails.userLastName }}</p>
            <p class="card-text"><strong>User Email:</strong> {{ customDetails.userEmail }}</p>
          </div>
        </div>
      
        <div class="card mt-4">
          <div class="card-body">
            <h4 class="card-title"><i class="fa fa-cogs"></i> Equipment Information</h4>
            <p class="card-text"><strong>Brand:</strong> {{ customDetails.brand }}</p>
            <p class="card-text"><strong>Type:</strong> {{ customDetails.type }}</p>
            <p class="card-text"><strong>Equipment ID:</strong> {{ customDetails.equipmentId }}</p>
          </div>
        </div>
      
        <div class="card mt-4">
          <div class="card-body">
            <h4 class="card-title"><i class="fa fa-check-circle"></i> Approval Details</h4>
            <p class="card-text"><strong>Approver Name:</strong> {{ customDetails.approverFirstName }} {{ customDetails.approverLastName }}</p>
            <p class="card-text"><strong>Issue Date:</strong> {{ customDetails.issueDate | date:'mediumDate' }}</p>
            <p class="card-text"><strong>Expiry Date:</strong> {{ customDetails.expiryDate | date:'mediumDate' }}</p>
          </div>
        </div>
      
        <div class="card mt-4">
          <div class="card-body">
            <h4 class="card-title"><i class="fa fa-map-marker"></i> Location</h4>
            <p class="card-text"><strong>Location:</strong> {{ customDetails.location }}</p>
          </div>
        </div>
      </div>
      
  </div>
  