.bodd {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
  
  }
  
  .header {
    margin-bottom: 40px;
  }
  
  .card {
    border: none;
    border-radius: 12px;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    margin: 0;
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .card-text {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  
  .d-flex {
    display: flex !important;
  }
  
  .align-items-center {
    align-items: center !important;
  }
  
  .ml-3 {
    margin-left: 1rem !important;
  }
  
  .text-primary {
    color: #007bff;
  }
  
  .text-warning {
    color: #ffc107;
  }
  
  .text-success {
    color: #28a745;
  }
  