.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
}

.auth-content {
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-container {
  padding: 20px;
}

.search-filters {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-filters .card-body {
  padding: 20px;
}

.table-responsive {
  margin-top: 20px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f2f2f2;
}

.pagination-container {
  margin-top: 20px;
}

.pagination .page-item.active .page-link {
  background-color: #11387F;
  border-color: #11387F;
}

.pagination .page-link {
  color: #11387F;
}

.pagination .page-link:hover {
  background-color: #11387F;
  color: #fff;
}

.modal-header {
  background-color: #11387F;
  color: #fff;
}

.modal-title i {
  margin-right: 10px;
}

.btn-primary {
  background-color: #11387F;
  border-color: #11387F;
}

.btn-primary:hover {
  background-color: darken(#11387F, 10%);
  border-color: darken(#11387F, 10%);
}

.btn-danger:hover {
  background-color: darken(#dc3545, 10%);
  border-color: darken(#dc3545, 10%);
}
