<div *ngIf="!isAuthenticated" class="auth-container">
  <div class="auth-content text-center">
    <h1 class="display-4">Welcome, User!</h1>
    <p class="lead">Please log in to access the inventory management platform.</p>
  </div>
</div>

<div *ngIf="isAuthenticated" class="main-container">
  <!-- Search Filters -->
  <!-- Filter Section -->
<div class="filter-section sticky-top card mb-3">
  <div class="card-body">
    <!-- Filter Title -->
    <div class="row mb-3">
      <div class="col-12">
        <h3 class="card-title text-center">Search Filters</h3>
      </div>
    </div>
    <!-- Filters -->
    <div class="row align-items-center">
      <!-- Office Selector -->
      <div class="col-md-3">
        <div class="form-group">
          <label for="officeSelector">Select Office:</label>
          <app-office-selector-component id="officeSelector" (officeSelected)="onOfficeSelected($event)"></app-office-selector-component>
        </div>
      </div>
      <!-- Brand Filter -->
      <div class="col-md-2">
        <div class="form-group">
          <label for="brand">Brand:</label>
          <select class="form-control" id="brand" [(ngModel)]="selectedBrands" [disabled]="!selectedOffice" (change)="onFilterChange()">
            <option value="">All Brands</option>
            <option *ngFor="let brand of brands" [value]="brand">{{ brand }}</option>
          </select>
        </div>
      </div>
      <!-- Type Filter -->
      <div class="col-md-2">
        <div class="form-group">
          <label for="type">Type:</label>
          <select class="form-control" id="type" [(ngModel)]="selectedType" [disabled]="!selectedOffice" (change)="onFilterChange()">
            <option value="">All Types</option>
            <option *ngFor="let type of types" [value]="type">{{ type }}</option>
          </select>
        </div>
      </div>
      <!-- Specification ID Filter -->
      <div class="col-md-2">
        <div class="form-group">
          <label for="specId">Specification ID:</label>
          <select class="form-control" id="specId" [(ngModel)]="selectedSpecId" [disabled]="!selectedOffice" (change)="onFilterChange()">
            <option value="">All Specifications</option>
            <option *ngFor="let specId of specifications" [value]="specId">{{ specId }}</option>
          </select>
        </div>
      </div>
      <!-- Search Button -->
      <div class="col-md-3 text-center">
        <button class="btn btn-primary mt-4" [disabled]="!selectedOffice" (click)="showEquipments()">Search Equipments</button>
      </div>
    </div>
  </div>
</div>


  <!-- Equipment List -->
  <div class="container mt-5" *ngIf="equipments">
    <div class="row">
     
    </div>
    <div class="row">
      <div class="col-12">
        <app-equipment [equipments]="equipments" [currentPage]="currentPage" [pageSize]="pageSize" (openModal)="openModal($event)" (addToCart)="addToCart($event)"></app-equipment>
      </div>
    </div>
  </div>

  <!-- Pagination Controls -->
  <nav aria-label="Page navigation" *ngIf="(equipments?.length ?? 0) > pageSize" class="pagination-container">
    <ul class="pagination justify-content-center mt-4">
      <li class="page-item" [ngClass]="{'disabled': currentPage === 1}" (click)="goToPage(currentPage - 1)">
        <a class="page-link" aria-label="Previous">&laquo;</a>
      </li>
      <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index" [ngClass]="{'active': currentPage === i + 1}" (click)="goToPage(i + 1)">
        <a class="page-link">{{ i + 1 }}</a>
      </li>
      <li class="page-item" [ngClass]="{'disabled': currentPage === totalPages}" (click)="goToPage(currentPage + 1)">
        <a class="page-link" aria-label="Next">&raquo;</a>
      </li>
    </ul>
  </nav>
</div>

<ng-template #modalContent let-modal>
  <div class="modal-header">
    <h5 class="modal-title"><i class="fas fa-users"></i> Current Users</h5>
  </div>
  <div class="modal-body">
    <div *ngIf="gatepasses.length > 0; else noUsersMessage">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Position</th>
              <th>Valid Till</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let gatepass of gatepasses">
              <td>{{ gatepass.fname }}</td>
              <td>{{ gatepass.lname }}</td>
              <td>{{ gatepass.email }}</td>
              <td>{{ gatepass.position }}</td>
              <td>{{ gatepass.expiryDate | date }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <ng-template #noUsersMessage>
      <p>This equipment has not been issued to anyone yet. It's possible that the requests for this equipment are still pending. Please check again later..</p>
    </ng-template>
  </div>
</ng-template>
